@use '../../../../assets/style/vars.scss' as vars;

.trackingCustomizePage-out-container {
    display: flex;
    gap: 30px;

    .trackingCustomizePage-right-container {
        flex: 2;
        padding: 25px 20px;
        box-shadow: vars.$box-shadow;
        background-color: #fff;

        .trackingCustomizePage-right-top-container {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: 1px solid #f1f1f1;
        }

        .trackingCustomizePage-right-bottom-out-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px 0;

            .trackingCustomizePage-right-bottom-container {
                width: 580px;
                padding: 10px 0;
                box-shadow: 0 2px 20px 0 rgba(40, 40, 40, 0.50);
                background-color: #fff;

                .trackingCustomizePage-card-image-container {
                    display: flex;
                    justify-content: center;
                    padding: 10px 0;
                    margin-bottom: 10px;

                    img {
                        width: 120px;
                    }
                }

                .trackingCustomizePage-card-time-container {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;
                    padding: 30px;
                    background-color: vars.$main-color;
                    color: #fff;

                    h2 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .trackingCustomizePage-card-body-container {
                    padding: 20px 30px 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;

                    section:first-child {
                        h5 {
                            margin-bottom: 10px;
                            padding-bottom: 13px;
                            padding-top: 4px;
                            border-bottom: 1px solid #f1f1f1;
                            font-weight: 500;
                            font-size: 14px;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            font-size: 14px;


                            li {
                                font-weight: 700;
                            }
                        }
                    }

                    section:nth-child(2) {
                        div {
                            font-size: 14px;
                        }

                        .trackingCustomizePage-card-timeline-container {
                            padding: 10px 20px;
                            margin: 15px 0;
                            border-top: 1px solid #EFEFEF;
                            border-bottom: 1px solid #EFEFEF;

                            .timeline {
                                position: relative;
                                margin: 20px 40px;
                                display: flex;
                                flex-direction: column;
                                gap: 25px;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 2px;
                                    height: 100%;
                                    background-color: #ddd;
                                }

                                .timeline-item {
                                    position: relative;
                                    display: grid;
                                    display: l;
                                    grid-template-columns: 1fr auto 1fr;
                                    align-items: center;
                                    gap: 15px;

                                    &::before {
                                        content: '';
                                        width: 12px;
                                        height: 12px;
                                        background-color: #ddd;
                                        border: 2px solid #fff;
                                        border-radius: 50%;
                                        position: absolute;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        z-index: 1;
                                    }

                                    &.is-current {
                                        &::before {
                                            background-color: vars.$main-color;
                                            border-color: vars.$main-color;
                                        }

                                        .timeline-itemContent {
                                            header {
                                                color: vars.$main-color;
                                            }
                                        }
                                    }

                                    .timeline-itemDate {
                                        text-align: left;
                                        padding-right: 20px;

                                        time {
                                            font-size: 14px;
                                            color: #666;
                                        }
                                    }

                                    .timeline-itemContent {
                                        text-align: right;
                                        padding-left: 20px;

                                        header {
                                            font-weight: 600;
                                            font-size: 14px;
                                            margin-bottom: 4px;
                                            color: #333;
                                        }

                                        p {
                                            font-size: 13px;
                                            color: #666;
                                        }
                                    }
                                }
                            }
                        }

                        .timeline-button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 20px;

                            button {
                                padding: 8px 16px;
                                border: 1px solid #B4B4B4;
                                background-color: transparent;
                                border-radius: 5px;
                                font-size: 15px;
                                font-weight: 600;
                                color: #555555;
                                cursor: pointer;
                                transition: all 0.3s ease-in-out;

                                &:hover {
                                    background-color: vars.$main-color;
                                    color: white;

                                }
                            }
                        }
                    }

                }
            }
        }

    }

    .trackingCustomizePage-left-out-container {
        flex: 1;

        .trackingCustomizePage-left-container {
            display: flex;
            flex-direction: column;
            color: #212529;
            padding: 35px 20px;
            box-shadow: vars.$box-shadow;

            .trackingCustomizePage-left-top-topic {
                display: flex;
                font-weight: 600;
                font-size: 16px;
                padding-bottom: 15px;
                border-bottom: 1px solid #f1f1f1;

            }

            .trackingCustomizePage-left-trade-mark {
                padding-top: 30px;
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-weight: 500;
                border-bottom: 1px solid #f1f1f1;


                .trade-mark-topic {
                    font-size: 15px;
                }

                .trade-mark-body {
                    font-size: 13px;
                    line-height: 20px;
                }
            }

            .trackingCustomizePage-public-link-contianer {
                display: flex;
                flex-direction: column;
                padding-top: 15px;
                gap: 15px;
                font-weight: 600;
                font-size: 15px;

                .input-group {
                    display: flex;
                    align-items: center;
                    background-color: #e9ecef;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    overflow: hidden;

                    .form-control {
                        border: none;
                        background: none;
                        padding: 10px 15px;
                        font-size: 14px;
                        color: #333;
                        flex-grow: 1;
                        outline: none;
                        cursor: default;


                        &:disabled {
                            color: #666;
                            cursor: not-allowed;
                        }
                    }

                    .input-group-append {
                        background: vars.$main-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px 15px;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        font-size: 16px;
                        cursor: pointer;
                        transition: background-color 0.3s ease-in-out;


                        a {
                            color: white;
                            width: 100%;
                        }


                    }
                }
            }
        }
    }
}